<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ITSILESIA.IPIJ.IPIJ_SQL.Properties.Settings.IPIJConnectionString"
            connectionString="Data Source=ZYGFRYD;Initial Catalog=IPIJ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ITSILESIA.IPIJ.IPIJ_SQL.Properties.Settings.SkeetysoftDefectsConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\Zygfryd\Programowanie\C#\C#InDepth\C# in Depth\Databases\SkeetysoftDefects.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>